

<button #btnClick>
  Click me
  </button>


<table #empTable>
  <thead>
    <tr>
      <th> Name </th>
      <th> Position </th>
      <th> Age </th>
      <th> Salary </th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td> Victor </td>
      <td> Manager </td>
      <td> 30  </td>
      <td> 50000 </td>
    </tr>

    <tr>
        <td> Chdi </td>
        <td> Manager </td>
        <td> 130  </td>
        <td> 150000 </td>
      </tr>

      <tr>
          <td> Lezly </td>
          <td> Manager </td>
          <td> 40  </td>
          <td> 3000 </td>
        </tr>

        <tr>
            <td> Philip </td>
            <td> Manager </td>
            <td> 300  </td>
            <td> 90000 </td>
          </tr>
  </tbody>
</table>